@import '../../variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10rem;
  height: 2.2rem;
  background-color: $defaultHighlight;
  cursor: pointer;

  .text {
    font-family: Muli;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: $defaultHighlight;

    outline: none;
    cursor: pointer;
  }
}
