@import '../../variables.scss';

.menu {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 50%;
  font-weight: 600;
  line-height: 304%;
  position: fixed;
  top: 0;
  z-index: 9999;
  animation-fill-mode: forwards;
  margin-top: $headerHeight;
  background-color: $defaultBackground;
  right: -50%;
  -webkit-animation: slide 0.7s forwards;
  -webkit-animation-delay: 0.3s;
  animation: slide 0.7s forwards;
  animation-delay: 0.3s;

  a {
    color: $defaultWhite;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 0.1rem 1rem;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    width: 31%;
    font-weight: 600;
    line-height: 304%;
    z-index: 9999;
    margin-top: 7rem;
    right: 29%;
    background-color: #000;
    animation: none;
  }
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.hightlightedBackground {
  background-color: #242424;
}

.closeIcon {
  position: fixed;
  background-color: $defaultBackground;
  top: 9%;
  width: 15%;
  height: 50px;
  border: none;
  z-index: 1000;
  right: -20%;
  animation-fill-mode: forwards;

  -webkit-animation: slide 0.7s forwards;
  -webkit-animation-delay: 0.3s;
  animation: slide 0.7s forwards;
  animation-delay: 0.2s;

  @media screen and (min-width: $desktopBreakpoint) {
    position: fixed;
    background-color: #000;
    top: 4rem;
    right: 30%;
    animation: none;
    width: 60px;
    height: 50px;
    border: none;
    z-index: 1000;
  }
}
