@import '../../variables.scss';

.menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;

  z-index: 9999;

  margin-top: $headerHeight;

  background-color: $defaultBackground;

  a {
    color: pink;
  }

  button {
    color: $defaultWhite;
    font-weight: 300;
    font-size: 16px;
    position: fixed;
    top: 8%;
    right: 5%;
    color: #fff;
    background: none;
    border: none;
    outline: none;
  }
}
