@import '../../variables.scss';

.card {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 1rem 1rem;
  background-color: $defaultDark;

  transition: transform 0.2s linear;

  &:active {
    transform: scale(0.9)
  }

  h3,
  p,
  a {
    color: $defaultWhite;
    text-decoration: none;
  }

  h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: $defaultLightGrey;
  }

  p {
    margin-block-start: -0em;
    margin-block-end: -0em;
    font-weight: 800;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $defaultMiddleGrey;
  }
}

.imageWrapper {
  position: relative;
}

.image {
  background-size: cover;
  background-position: center;
  min-width: 7rem;
  height: 8rem;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5em;
}

.iconWrapper {
  >svg {
    width: 17px;
    height: 21px;
  }
}

.content {
  padding: 1rem 0 0 1rem;
  margin-right: 5%;
  height: 100px;
}
