@import '../../variables.scss';

.card {
  display: flex;
  position: relative;
  overflow: hidden;

  h3,
  p,
  a {
    color: $defaultWhite;
    text-decoration: none;
  }

  h3 {
    font-size: 19px;
  }

  p {
    font-size: 14px;
  }
}

.imageWrapper {
  position: relative;
}

.image {
  background-size: cover;
  background-position: center;
}

.iconWrapper {
  background-color: $defaultLightDark;
  padding: 1rem 1.2rem 0.6rem 1.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2rem;

  > svg {
    width: 32px;
    height: 32px;
  }
}

.content {
  padding: 1rem;
  overflow: hidden;
}

.listView {
  flex-direction: row;

  .image {
    min-width: 8rem;
  }

  .description {
    display: none;
  }

  .readMore {
    position: relative;
  }
}

.readMore {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  bottom: 0;
  width: 100%;

  p {
    padding: 0 1rem;
    text-transform: uppercase;
  }
}

.dark {
  background-color: $defaultDark;
}

.light {
  background-color: $defaultLightDark;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  p {
    font-size: 10px;
    text-transform: uppercase;
  }
}
