@import '../../variables.scss';

.hero {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 90vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .heroText,
  .heroTitle {
    color: $defaultMiddleGrey;
    font-weight: 800;
    font-size: 28px;
    margin: 0 1rem;
    width: 80%;
    line-height: 125%;
    letter-spacing: 0.02em;
  }

  .introText {
    color: $defaultMiddleGrey;
    font-weight: 300;
    font-size: 14px;
    margin: 5%;
    line-height: 150%;
    letter-spacing: 0.02em;
    width: 80%;
  }
}
