@import '../../variables.scss';

.readMore {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  bottom: 0;

  p {
    padding: 0 1rem;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  color: $defaultWhite;
  background-color: $defaultHighlight;
}
