@import '../../variables.scss';

.categoryInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  margin: 0% 5% 5% 5%;
  width: 75%;

  h1 {
    margin-bottom: -0em;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $defaultLightGrey;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}

.subTitle {
  margin-left: 5%;
  font-weight: 800;
  font-size: 24px;
  line-height: 122.5%;
  letter-spacing: 0.02em;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}

.sortDropDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;

  p {
    padding-right: 1rem;
    font-weight: 800;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $defaultSmallText;
  }
}
