@import '../../variables.scss';

<<<<<<< HEAD
=======
.searchCards {
  margin: 6em 0 0 0;
}

>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
=======
  height: $buttonHeight;
>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 32px;
  background-color: $defaultHighlight;
  transition: transform 1s ease-out;
  width: 100%;
  padding: 0.5rem 1rem;

  > .field {
    border: none;
    height: 100%;
    width: 100%;
<<<<<<< HEAD
=======
    outline: none;
>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
    background-color: $defaultHighlight;
    color: $defaultWhite;
    font-size: 16px;
    padding: 0 1rem;
  }
  ::placeholder {
    color: $defaultWhite;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    color: $defaultWhite;
  }

  ::-ms-input-placeholder {
    color: $defaultWhite;
  }

  .searchBtn {
<<<<<<< HEAD
    background-color: transparent;
=======
    background-color: $defaultHighlight;
    height: $buttonHeight;
>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
    border: none;
    outline: none;
  }
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(100%);
}

.searchResult {
  position: fixed;
  top: 0;
  background-color: $defaultDark;
  height: 100vh;
  width: 100%;

  .topView {
<<<<<<< HEAD
    margin: 6em 1em 1em 1em;
=======
    margin: 6em 1em 0em 1em;
>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
    padding: 3em 0;

    h1 {
      font-weight: 800;
      font-size: 32px;
      line-height: 125%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $defaultLightGrey;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      width: 70%;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }

<<<<<<< HEAD
  

=======
>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
  @media screen and (min-width: $desktopBreakpoint) {
    width: 40vw !important;
  }

  overflow-y: scroll;
  z-index: 9997;

<<<<<<< HEAD
  // > div {
  //   margin-top: 5rem;
  // }
=======
  > div {
    margin-top: 5rem;
  }
>>>>>>> b7630e7fafbbabb058ff0038a6e9cad81c11b0e3
}

.searchResult.hide {
  display: none;
}
