@import '../../variables.scss';

.searchCards {
  margin: 6em 0 0 0;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $buttonHeight;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 1rem;
  background-color: $defaultHighlight;
  transition: transform 1s ease-out;
  width: 100%;
  padding: 0.5rem 1rem;

  @media screen and (min-width: $desktopBreakpoint) {
    left: auto;
    margin-top: 1rem;
    background-color: #cd7b2a;
    width: 38%;
  }

  > .field {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    background-color: $defaultHighlight;
    color: $defaultWhite;
    font-size: 16px;
    padding: 0 1rem;
  }

  ::placeholder {
    color: $defaultWhite;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    color: $defaultWhite;
  }

  ::-ms-input-placeholder {
    color: $defaultWhite;
  }

  .searchBtn {
    background-color: $defaultHighlight;
    height: $buttonHeight;
    border: none;
    outline: none;
  }
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(100%);

  @media screen and (min-width: $desktopBreakpoint) {
    display: none;
  }
}

.searchResult {
  position: fixed;
  top: 0;
  background-color: $defaultDark;
  height: 100vh;
  width: 100%;

  .topView {
    margin: 6em 1em 0em 1em;
    padding: 3em 0;

    h1 {
      font-weight: 800;
      font-size: 32px;
      line-height: 125%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $defaultLightGrey;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      width: 70%;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    width: 40vw !important;
  }

  overflow-y: scroll;
  z-index: 9997;

  > div {
    margin-top: 5rem;
  }
}

.searchResult.hide {
  display: none;
}
