@import '../../variables.scss';

.wrapper {
  margin-bottom: 2.5em;
}

.categories {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: $defaultHighlight;
  font-weight: 800;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  .categoryTitle {
    padding-left: 0.5em;
  }
}


.active {
  background: $defaultHighlight;
}

.notActive {
  color: $defaultWhite;
}

.dropdown {
  display: none;
}

.expanded {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  background: linear-gradient(to right, $defaultDark 0%, $defaultDark 50%, $defaultLightDark 50%, $defaultLightDark 100%);
}

.category {
  display: flex;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 304%;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;

  color: $defaultWhite;
  text-decoration: none;
}

button {
  background: none;
  color: $defaultWhite;
  display: inline-block;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 304%;
  letter-spacing: 0.02em;
}
