@import '../../variables.scss';

.row {
  display: flex;
  align-items: center;
}

.active,
.notActive {
  font-size: 16px;
  margin-right: 7%;
  font-weight: 300;

  letter-spacing: 0.02em;
  height: 33px;
  width: 83px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.active {
  font-weight: 800;
}

.notActive {
  color: $defaultWhite;
}
