@import '../../variables.scss';

$playerHeight: 70px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 800;
  bottom: 0;
  background-color: $defaultDark;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.button {
  border: none;
  background: none;
  height: 48px;
  padding: 0 1rem;
}

.player {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: $playerHeight + 5;
  z-index: 900;
  width: 100vw;
  color: $defaultWhite;
  background-color: $defaultDark;
}

.playerBody {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.marquee {
  display: flex;
  height: 100%;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  font-size: 18px;
  font-weight: semibold;
  padding: 0.5rem 1rem;
  animation: marquee 10s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused
}

@keyframes marquee {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.dragableArea {
  height: 100%;
  width: 100%;
}

.progressBar {
  min-height: 5px;
  width: 100%;
}

.hidden {
  display: none;
}

.previewContainer {
  max-width: 100vw;
}

.smallPreview {
  position: absolute;
  bottom: $playerHeight + 10;
  left: 10px;

  .preview {
    height: $playerHeight;
    width: ($playerHeight / 9) * 16;
    max-width: ($playerHeight / 9) * 16;
  }
}

.largePreview {
  > .preview {
    height: 0 !important;
    width: 100% !important;
    padding-top: 56.25% !important;
  }
}

.imagePreview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
