@import 'variables.scss';
@import 'util.scss';

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;

  width: 100vw;
  min-height: 100vh;

  color: $defaultWhite;
  background-color: $defaultBackground;

  @media screen and (min-width: $desktopBreakpoint) {
    width: 40vw;
    margin: 0 auto;
  }
}

button,
a {
  transition: transform 0.2s linear;

  &:active {
    transform: scale(0.8)
  }
}

.App {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin-top: $headerHeight;
}

.container {
  margin: 0rem;

  @media screen and (min-width: $desktopBreakpoint) {
    width: 80%;
    margin: 0 auto;
  }
}
