@import '../../variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 1rem;

  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: $defaultHighlight;
  height: 2.2rem;
  width: 80%;

  .save {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $defaultLightDark;
    height: 2.3rem;
    width: 6rem;
  }
}
