@import '../../variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 1rem;

  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  background-color: $defaultHighlight;
  height: $buttonHeight;
  width: 80%;

  .save {
    background-color: $defaultLightDark;
    height: 100%;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
