@import '../../variables.scss';

.group {
  margin-left: 1rem;
  margin-bottom: 2.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 1rem;

  >h2 {
    margin-top: 0;
  }
}

.body {
  display: flex;
}

.listView {
  flex-direction: column;
}

.gridView {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  /*height: 338px;*/
  -ms-overflow-style: none;
}
