@import '../../variables.scss';

.group {
  margin: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  margin: 2.25rem 0 0 1rem;
=======
>>>>>>> 2196a8240f1ba1aa761edf37cd52e21314eb76e1
}

.body {
  display: flex;
}

.listView {
  flex-direction: column;
}

.gridView {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  /*height: 338px;*/
  -ms-overflow-style: none;
}
